@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';
@import '../../styles/utils/breakpoints';

.submitButton{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  line-height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  background-color: $grass-blade;
  padding: 0 3em;
  cursor: pointer;
  text-align: center;

  @media only screen and (max-width: $mobile) {
    text-transform: uppercase;
    &__icon {
      display: none;
    }
  }

  &:focus {
    outline: none;
  }

  &--inactive{
    background-color: $elephant-paw;
    cursor: not-allowed;
  }

  &__icon {
    margin-left: 0.5em;
  }

  &__iconLoader {
    @include spinAnimation(2s)
  }

}
