@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';
@import '../../styles/utils/breakpoints';

.learningModule {
    &__header {
        text-align: center;
    }

    &__title {
        margin: 25px 10px;
        color: $morning-sky;
        font-weight: 600;
        font-size: 1.5em;
    }

    &__subHeader{
        @include subheader;
        min-height: 42px;
        @media only screen and (max-width: $mobile) {
            display: none;
        }
    }
}
